mixin agent-benefit_screen
    +b.agent-benefit.wrap
        +b.agent-benefit-content.container_small
            +e.P.title Почему быть агентом выгодно
            +b.agent-benefit-info 
                +b.agent-benefit-list 
                    +e.item 
                        +e.IMG.img(src="./img/benefit-item.png", alt="alt")
                        +e.text-block 
                            +e.P.title.text_m #[span Брокер ставок] может зарабатывать круглосуточно 
                            +e.P.desc.text_xs Единственная вещь, которая нужна для того, чтобы иметь возможность заработать — смартфон. Можно работать где и когда угодно!
                    +e.item 
                        +e.IMG.img(src="./img/benefit-item.png", alt="alt")
                        +e.text-block 
                            +e.P.title.text_m #[span Брокер ставок] может зарабатывать круглосуточно 
                            +e.P.desc.text_xs Единственная вещь, которая нужна для того, чтобы иметь возможность заработать — смартфон. Можно работать где и когда угодно!
                    +e.item 
                        +e.IMG.img(src="./img/benefit-item.png", alt="alt")
                        +e.text-block 
                            +e.P.title.text_m #[span Брокер ставок] может зарабатывать круглосуточно 
                            +e.P.desc.text_xs Единственная вещь, которая нужна для того, чтобы иметь возможность заработать — смартфон. Можно работать где и когда угодно!
                    +e.item 
                        +e.IMG.img(src="./img/benefit-item.png", alt="alt")
                        +e.text-block 
                            +e.P.title.text_m #[span Брокер ставок] может зарабатывать круглосуточно 
                            +e.P.desc.text_xs Единственная вещь, которая нужна для того, чтобы иметь возможность заработать — смартфон. Можно работать где и когда угодно!
                +b.IMG.benefit-phone(src="./img/benefit-phone.png", alt="alt")
            +b.P.benefit-agitation Уже более 5000 человек стали агентами 1xBet. #[a(href="#") Присоединяйтесь] — и зарабатывайте как букмекерский брокер!