mixin important_screen 
    +b.important.wrap
        +b.important-content.container_small 
            +b.IMG.benefit-phone(src="./img/important-phone.png", alt="alt")
            +e.info
                +e.H3.title Что важно знать для тех, кто хочет стать агентом #[span 1xBet]
                +b.info-list 
                    +e.item
                        +e.num
                            span 1
                        +e.P.text.text_xs Агентами могут стать совершеннолетние люди, которые интересуются спортом и не только — ведь в 1xBet есть ставки на события из самых разных сфер жизни, например, политику, шоу-бизнес и даже прогнозы погоды.
                    +e.item
                        +e.num
                            span 2
                        +e.P.text.text_xs Агентами могут стать совершеннолетние люди, которые интересуются спортом и не только — ведь в 1xBet есть ставки на события из самых разных сфер жизни, например, политику, шоу-бизнес и даже прогнозы погоды.
                    +e.item
                        +e.num
                            span 3
                        +e.P.text.text_xs Агентами могут стать совершеннолетние люди, которые интересуются спортом и не только — ведь в 1xBet есть ставки на события из самых разных сфер жизни, например, политику, шоу-бизнес и даже прогнозы погоды.
                    +e.item
                        +e.num
                            span 4
                        +e.P.text.text_xs Агентами могут стать совершеннолетние люди, которые интересуются спортом и не только — ведь в 1xBet есть ставки на события из самых разных сфер жизни, например, политику, шоу-бизнес и даже прогнозы погоды.
                +b.A(href="#").btn_defaul.btn_agent СТАТЬ АГЕНТОМ
                

