mixin necessity_screen 
    +b.necessity.wrap 
        +b.necessity-content.container_small
            +e.P.title Что нужно для того, чтобы работать #[span агентом 1xBet]
            +b.necessity-list 
                +e.item
                    +e.P.item-num
                    +e.IMG.img(src="./img/necessity-img1.png", alt="alt")
                    +e.text-block 
                        +e.P.title Скачайте агентское приложение 1xBet. 
                        +e.P.desc.text_xs Брокер ставок получает возможность скачать нужное приложение с сайта для агентов буквально за пару секунд вне зависимости от того, в какой точке мира находится.
                +e.item
                    +e.P.item-num
                    +e.IMG.img(src="./img/necessity-img2.png", alt="alt")
                    +e.text-block 
                        +e.P.title Скачайте агентское приложение 1xBet. 
                        +e.P.desc.text_xs Брокер ставок получает возможность скачать нужное приложение с сайта для агентов буквально за пару секунд вне зависимости от того, в какой точке мира находится.
                +e.item
                    +e.P.item-num
                    +e.IMG.img(src="./img/necessity-img1.png", alt="alt")
                    +e.text-block 
                        +e.P.title Скачайте агентское приложение 1xBet. 
                        +e.P.desc.text_xs Брокер ставок получает возможность скачать нужное приложение с сайта для агентов буквально за пару секунд вне зависимости от того, в какой точке мира находится.
                +e.item
                    +e.P.item-num
                    +e.IMG.img(src="./img/necessity-img2.png", alt="alt")
                    +e.text-block 
                        +e.P.title Скачайте агентское приложение 1xBet. 
                        +e.P.desc.text_xs Брокер ставок получает возможность скачать нужное приложение с сайта для агентов буквально за пару секунд вне зависимости от того, в какой точке мира находится.
                +e.item
                    +e.P.item-num
                    +e.IMG.img(src="./img/necessity-img1.png", alt="alt")
                    +e.text-block 
                        +e.P.title Скачайте агентское приложение 1xBet. 
                        +e.P.desc.text_xs Брокер ставок получает возможность скачать нужное приложение с сайта для агентов буквально за пару секунд вне зависимости от того, в какой точке мира находится.
                +e.item
                    +e.P.item-num
                    +e.IMG.img(src="./img/necessity-img2.png", alt="alt")
                    +e.text-block 
                        +e.P.title Скачайте агентское приложение 1xBet. 
                        +e.P.desc.text_xs Брокер ставок получает возможность скачать нужное приложение с сайта для агентов буквально за пару секунд вне зависимости от того, в какой точке мира находится.