include ../_screens/main_screen.pug
include ../_screens/agent-benefit_screen.pug
include ../_screens/important_screen.pug


mixin general-page
    +b.general-page
        +main_screen
        +agent-benefit_screen
        +important_screen

