.main
    min-height: 100vh
    background: url('../img/mainBG.png')
    background-size: cover
    color: #fff
    padding-top: 210px
    padding-bottom: 200px
    position: relative
    .video-btn
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        width: 35%
        max-width: 640px
        img
            width: 100%
    &-content
        &__text-block
            max-width: 700px
            position: relative
        &__title
            font-weight: 800
            font-size: 80px
            line-height: 96px
            margin-bottom: 35px
        &__sub-title
            margin-bottom: 45px
            max-width: 360px
            line-height: 29px

    .skills-block
        display: flex
        position: absolute
        bottom: -125px
        &__item
            margin-right: 30px
            &:last-child
                margin-right: 0
        &__title
            color: #000
            span
                font-weight: bold

@media screen and (max-width: 1500px)
    .main
        padding: 90px 0

        &-content
            &__text-block
                max-width: 560px
            &__title
                font-size: 60px
                line-height: 76px
